<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Zomato Rating</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predicting the Rating</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Onine Order" placeholder="Online Order" required="required" />
      <input type="text" name="Book Table" placeholder="Book Table" required="required" />
      <input type="int" name="Votes" placeholder="Votes" required="required" />
      <input type="str" name="Location" placeholder="Location" required="required" />
      <input type="str" name="Restaurant Types" placeholder="Restaurant Types" required="required" />
      <input type="str" name="Cuisine" placeholder="Cuisine" required="required" />
      <input type="int" name="Average Cost" placeholder="Average Cost" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
